# The setup.py, setup.cfg and MANIFEST.in files are used to specify how a package should be installed. 

include setup.py
include MANIFEST.in
include LICENSE 
include README.md 

graft tests 
graft examples
graft docs
graft src 
